.app {
  height: 100%;
  position: relative;
}

.gameContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 24px 100px;
}

@media (max-width: 600px) {
  .gameContainer {
    padding: 48px 12px 120px;
  }
}
